/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

html, body {
  height: 100%;
}

#landing_page_text {
  min-height: 100%;
  margin-left: 10%;
}

#logo {
  width: 64px;
  height: 64px;
}

#home_picture {
  width: 100%;
}

.btn {
  padding: 5px 27px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  min-height: 40px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 26px;
  background-color: none;
}

.btn-main {
  background-color: #aaf0d1;
}

.btn-main:hover {
  background-color: white;
  color: #6FE3AF;
  border-color: #6FE3AF;
}

.btn-info:hover {
  background-color: white;
  border-color: #5bc0de;
  color: #5bc0de;
}
.slider-area.style-1 {
  height: 100%;
}

.slider-area.style-1.d-flex.align-items-center {
  background-image: url("https://i.imgur.com/HXr0AhK.jpg");
}

.jumbotron {
  height: 100vh;
  background: none;
}

section {
  position: relative;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;

}
.demo a {

  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section01 {
  margin-left: 50%;
  margin-right: auto;
  margin-top: 10%;
}
#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.bg-green {
  background-color: #aaf0d1;
  min-width: 100%;
}

hr {
  border-bottom: 1px dashed #000;
}

input#mc-embedded-subscribe {
  background-color: black;
  width: 30%;
  border: transparent;
  color: white;
  font-weight: 400;
}

input#mc-embedded-subscribe:hover {
  background-color: #aaf0d1;
  color: black;
  border: 1px solid black;
}

.slider-text > a:hover {
  background-color: #aaf0d1;
  color: #333;
}

i.fa.fa-instagram:hover {
  color: #C13584;
}

i.fa.fa-facebook:hover {
  color: #3C5A99;
}

i.fa.fa-linkedin:hover {
  color: #0077B5;
}

i.fa.fa-twitter:hover {
  color: #1da1f2;
}

.member-social a {
  border: none;
}

.member-social a:hover {
  border: none;
  color: inherit;
  background-color: transparent;
}

#about_us_head {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
}

#contact_us_head {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
  background-color: transparent;
}

.about-text-title > p {
  padding: 0;
}

.single-testimonial.text-center {
  margin: 5%;
}

.single-testimonial > p {
  padding: 0;
}

.footer-area.pt-5 {
  border-top: 2px solid rgba(207,215,223,.25);
}

.waraper {
  padding: 0 50px;
}